*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.profile_card{
    border: 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.profile_img{
    height: 200px;
}